<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div ng-show="auth.error" class="alert alert-warning">
                <strong>Đăng nhập không thành công!</strong><br/>
                <ul>
                    <li>{{auth.errorText}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Đăng nhập</strong>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" novalidate name="loginForm" ng-submit="auth.login(loginForm.$valid)">
                        <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
                            <label for="email" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" placeholder="Email" required ng-model="auth.email">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched &&loginForm.password.$invalid }">
                            <label for="password" class="col-sm-3 control-label">Mật khẩu</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="password" placeholder="Password" required ng-model="auth.password">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-custom btn-lg ladda-button"
                                        ladda-button="auth.laddaLoading" data-style="expand-right"
                                        style="background-color: #5cb85c;"
                                        ng-disabled="loginForm.$invalid">
                                        <span class="ladda-label">ĐĂNG NHẬP</span>
                                </button>
                                <a ui-sref="register" class="btn btn-warning btn-custom btn-lg ladda-button"
                                        style="background-color: #ff5050;">
                                        <span class="ladda-label">ĐĂNG KÝ</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>